**/.DS_Store
.vagrant
.vscode

**/node_modules
**/target
**/Icon\r

**/*.tgz
**/*.zip
**/*.bak
**/*.crt
**/*.pem
**/*.csr
**/hoban/*/*-linux
**/hoban/*/*-macos

**/*.hclic
**/.waypoint
**/.terraform
**/docker-auth.json
**/key.txt
**/waypoint.txt

**/*.tfstate*
**/*.tfvars
**/.terraform.lock.hcl

**/roleid
**/secretid
**/pidfile